/* You can add global styles to this file, and also import other style files */
.center{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 30px;
}
#search{
  text-align: center;
  fontcolor:#000000;
   text-shadow: 1px 0.5px grey;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 16px;
   /*border: 1px;
   padding: 10px;*/
   box-shadow:1px 1px 1px 1px #888888;
}
body{

  background-color: #ccffff;
}
ul{
  list-style: none;
}

label{
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 15s steps(60, end);
}

label:nth-child(2){
  animation: type2 8s steps(60, end);
}


@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}
